#map {
	width:100%;
	height:20em;
}

.small-map {
	width:100%;
	height:5em;
}

.display-none{
	display:none;
}

.padding-bottom-2em{
	padding-bottom:2em;
}

.width-20-pct{
	width:20%;
}

.width-30-pct{
	width:30%;
}

.width-40-pct{
	width:40%;
}

.overflow-hidden{
	overflow:hidden;
}

.margin-right-1em{
	margin-right:1em;
}

.right-margin{
	margin:0 .5em 0 0;
}

.margin-bottom-1em {
	margin-bottom:1em;
}

.margin-zero{
	margin:0;
}

.text-align-center{
	text-align:center;
}

.circle-img {
	width:20em;
	height:20em;
	padding:1em;
	border-radius:50%;
}

.circle-img-small {
	width:5em;
	height:5em;
	padding:0.25em;
	border-radius:50%;
}